.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.test p {
    font-size: 60px;
    font-weight: 600;
    /*
    color: transparent;
    background-image: linear-gradient(to right ,#EB2436, #131A6D, #FFD600, #00A650);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    background-position: -200%;
    transition: all ease-in-out 2s;
    cursor: pointer;*/
 }

.test p:hover{
    background-position: 200%;
}

.flipContainer {
    width: 400px;
    height: 200px;

    perspective: 1000px;
}

/*
.flip-container, .front, .back {
    width: 370px;
}*/

.flipper {
    position: relative;
    width: 400px;
    height: 200px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*
.flipContainer:hover .flipper {
    transform: rotateY(180deg);
}*/

.front, .back {
    position: absolute;
    width: 400px;
    height: 200px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    border-radius: 25%;
}


.front {
    background-color: #bbb;
    color: red;
}

.back {
    background-color: #bbb;
    color: red;
    transform: rotateY(180deg);
}