.flipContainer {
    width: 400px;
    height: 200px;

    perspective: 1000px;
}

/*
.flip-container, .front, .back {
    width: 370px;
}*/

.flipper {
    position: relative;
    width: 400px;
    height: 200px;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.flipper-animate {
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

/*
.flipContainer:hover .flipper {
    transform: rotateY(180deg);
}*/

.front, .back {
    position: absolute;
    width: 400px;
    height: 200px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    border-radius: 25%;
    color: aliceblue;

    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;}


.front {
    background-color: #bbb;

}

.back {
    background-color: #bbb;
    transform: rotateY(180deg);
}

@media only screen and (max-width: 480px) {
    .flipContainer,  .flipper, .front, .back {
        width: 200px;
        height: 100px;
    }

    .flipper p {
        font-size: 30px;
        font-weight: 300
    }
}
