.flipContainer {
    width: 400px;
    height: 200px;

    perspective: 1000px;
}

/*
.flip-container, .front, .back {
    width: 370px;
}*/

.flipper {
    position: relative;
    width: 400px;
    height: 200px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*
.flipContainer:hover .flipper {
    transform: rotateY(180deg);
}*/

.front, .back {
    position: absolute;
    width: 400px;
    height: 200px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    border-radius: 25%;
    color: aliceblue;
}


.front {
    background-color: #bbb;

}

.back {
    background-color: #bbb;
    transform: rotateY(180deg);
}